<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574916153137-n9e9htccanas8oihmtqhi3qallssbdpj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574916153137-n9e9htccanas8oihmtqhi3qallssbdpj</string>
	<key>API_KEY</key>
	<string>AIzaSyDJcMqym2bXKDdV3pq-Okm6ioPvXEn6HWo</string>
	<key>GCM_SENDER_ID</key>
	<string>574916153137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alaaadel.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-96175</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-96175.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574916153137:ios:7778516801df5a8694aa10</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-96175.firebaseio.com</string>
</dict>
</plist>